# Bullshit to include a really deep symlink and noting else
/ark/*
!/ark/steamapps/
/ark/steamapps/*
!/ark/steamapps/workshop/
/ark/steamapps/workshop/*
!/ark/steamapps/workshop/content/
/ark/steamapps/workshop/content/*
!/ark/steamapps/workshop/content/346110

/linux32
/linux64
/listplayers.log
/package
/public
/rcon
/rcon.c
/runforever
/steamcmd.sh
/steam.sh
